DB_URL=postgresql+asyncpg://user:password@localhost:5432/dbname

TEST_DB_URL=postgresql+asyncpg://postgres:SUA_SENHA_LOCAL@localhost:5432/scheduling_system_test

JWT_SECRET=your_secret_key_here

sqlalchemy.url = driver://user:pass@localhost/dbname

REDIS_URL=rediss://default:password@host:port